.charact {
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width:1200px) {
        padding-top: 94px;
        padding-bottom: 0;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;

        @media screen and (min-width:768px) {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 30px;
            width: 100%;
        }

        @media screen and (min-width:1200px) {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            width: 270px;
        }
    }

    &__select {
        display: flex;
        flex-direction: column;
        align-items: center;

        @media screen and (min-width:768px) {
            flex-basis: calc((100% - 30px) / 2);
        }
    }

    &__select::before {
        content: "";
        margin-bottom: 30px;
        width: 100%;
        height: 120px;
        border-radius: 4px;
        background-color: $team-background;
        background-image: url(../images/space.png);
        display: block;
        background-repeat: no-repeat;
        background-position: center;

        @media screen and (min-width: 768px) {
            width: 354px;
        }

        @media screen and (min-width: 1200px) {
            width: 270px;
        }
    }

    &__select:nth-child(1)::before {
        background-image: url(../images/tv.png);
    }

    &__select:nth-child(2)::before {
        background-image: url(../images/clock.png);
    }

    &__select:nth-child(3)::before {
        background-image: url(../images/diagram.png);
    }

    &__title {
        color: $title-color;
        @include fonts($weight: 700, $height: 1.71);
        text-transform: uppercase;
        width: 270px;
        text-align: center;

        @media screen and (min-width: 768px) {
            text-align: start;
        }

    }

    &__text {
        color: $additional-color;
        @include fonts;
        margin-top: 10px;
        width: 100%;

        @media screen and (min-width: 768px) {
            width: 354px;
        }

        @media screen and (min-width: 1200px) {
            width: 270px;
        }
    }
}