.clients {
    padding: 94px 0;

    &__title {
        margin-bottom: 50px;
        color: $title-color;
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.16;
        letter-spacing: 1.08px;
    }

    &__conteiner {
        @include flex($direction:column);
    }

    &__list {
        display: flex;
        column-gap: 30px;
    }

    &__links {
        @include flex;
        border-radius: 4px;
        border: 1px solid $main-svg-fill;
        padding: 16px 32px;
        width: 170px;
        height: 92px;
        transition-property: border-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__img {
        width: 106px;
        height: 60px;
        fill: $main-svg-fill;
        transition-property: fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__links:hover,
    &__links:focus {
        border-color: $accent-color;

        .clients__img {
            fill: $accent-color;
        }
    }
}