.footer {
    background-color: $footer-background;
    padding: 60px 0;

    &__box {
        display: flex;
        flex-direction: column;
        width: 231px;
        text-align: center;

        @media screen and (min-width: 1200px) {
            text-align: start;
        }
    }

    &__full {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 60px;
        text-align: center;

        @media screen and (min-width: 1200px) {
            text-align: start;
            flex-wrap: nowrap;
            gap: 0;
        }

        @media screen and (min-width: 768px) {
            align-items: baseline;
            flex-direction: row;

        }
    }

    &__logo {
        color: $main-background;
        @include fonts($size: 26px, $weight: 700, $height: 1.38, $space: 0.78px);
        font-family: "Raleway";
        margin-bottom: 20px;
    }

    &__span {
        color: $accent-color;
    }

    &__location {
        color: $main-background;
        @include fonts;
        text-decoration: none;
        width: 231px;
    }

    &__social {
        display: flex;
        flex-direction: column;
        text-align: center;

        @media screen and (min-width: 768px) {
            margin-left: 105px;
        }

        @media screen and (min-width: 1200px) {
            margin-left: 70px;
            text-align: start;
        }
    }

    &__join {
        color: $main-background;
        font-size: 14px;
        font-weight: 700;
        line-height: 1.14;
        letter-spacing: 0.42px;
        text-transform: uppercase;
    }

    &__list {
        display: flex;
        gap: 10px;
        margin-top: 20px;
    }

    &__links {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        width: 44px;
        height: 44px;
        background-color: rgba(255, 255, 255, 0.10);
        @include transitioned(background-color);
    }

    &__links:hover,
    &__links:focus {
        background-color: $accent-color;
    }

    &__img {
        fill: $main-background;
        width: 20px;
        height: 20px;
    }

    &__case {
        text-align: center;

        @media screen and (max-width: 1199px) {
            width: 100%;
        }

        @media screen and (min-width: 1200px) {
            margin-left: 93px;
            text-align: start;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;

        @media screen and (min-width:1200px) {
            gap: 12px;
            align-items: baseline;
        }
    }

    &__lable {
        color: $main-background;
        @include fonts($height: 1.16);
        text-transform: uppercase;
    }

    &__wraper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;

        @media screen and (min-width: 1200px) {
            gap: 12px;
        }
    }

    &__input {
        padding: 15px 0 15px 16px;
        width: 358px;
        height: 50px;
        border-radius: 4px;
        border: 1px solid rgba(255, 255, 255, 0.30);
        background: rgba(33, 150, 243, 0.00);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        color: rgba(255, 255, 255, 0.60);
        @include fonts($size: 16px, $height: 1.25, $space: 0.48px);
        width: 100%;

        @media screen and (min-width:480px) {
            width: 450px;
        }

        @media screen and (min-width:1200px) {
            width: 358px;
        }
    }

    &__btn {
        color: $main-background;
        text-align: center;
        @include fonts($size: 16px, $weight: 700, $height: 1.87, $space: 0.96px);
        padding: 10px 28px;
        border-radius: 4px;
        background: $accent-color;
        border: none;
        display: flex;
        align-items: center;
        transition-property: box-shadow;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__btn:hover,
    &__btn:focus {
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    }

    &__svg {
        width: 24px;
        height: 24px;
        fill: $main-background;
        margin-left: 10px;
    }
}

.address {
    &__contacts {
        color: rgba(255, 255, 255, 0.60);
        font-style: normal;
        @include fonts;
        text-decoration: none;
    }

    &__item {
        margin-top: 9px;
    }
}