.header {
    padding: 24px 0px 25px 0px;

    &__top {
        display: flex;
        align-items: center;
    }

    &__contacts {
        display: flex;
        gap: 50px;
        margin-left: auto;
    }

    &__links {
        color: $additional-color;
        @extend %links-header;
        display: flex;
        align-items: center;
        @include transitioned(color);
    }

    &__links:hover,
    &__links:focus {
        color: $accent-color;
        fill: $accent-color;
        border: 0px solid transparent;
        outline: none;

        .tel {
            fill: $accent-color;
        }

        .header__mail {
            fill: $accent-color;
        }
    }

    &__mail {
        fill: $additional-color;
        width: 16px;
        height: 12px;
        margin: 0 10px 0 0;
        @include transitioned($property:fill);
    }
}

.logo {
    color: $logo-color;
    font-family: "Raleway";
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
    margin-right: 93px;

    &__color {
        color: $accent-color;
    }
}


.nav {
    &__list {
        display: flex;
        gap: 50px;
    }

    &__item {
        position: relative;
    }

    &__links {
        color: $title-color;
        @extend %links-header;
        @include transitioned(color);
    }

    &__links:hover,
    &__links:focus {
        color: $accent-color;
    }
}

.curent {
    color: $accent-color;
}

.curent::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background: $accent-color;
    position: absolute;
    left: 0;
    bottom: -33px;
}

:focus {
    border: 0px solid transparent;
    outline: none;
}


.tel {
    fill: $additional-color;
    width: 10px;
    height: 16px;
    margin-right: 10px;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &__link {
        display: flex;
    }
}