.hero {
    background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.40),
            rgba(47, 48, 58, 0.40)),
        url("../images/mobile/studiabg-mobile@1x.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 118px 0;

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url(../images/mobile/studiabg-mobile@2x.webp);
    }

    &__box {
        @include flex($direction: column);
    }

    @media screen and (min-width:768px) {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url(../images/tablet/studiabg-tablet@1x.webp);

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                url(../images/tablet/studiabg-tablet@2x.webp);
        }
    }

    @media screen and (min-width:1200px) {
        padding-top: 200px;
        padding-bottom: 200px;
        background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url(../images/desktop/studiabg-desktop@1x\ .webp);

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                url(../images/desktop/studiabg-desktop@2x.webp);
        }
    }

    &__title {
        color: $main-background;
        text-align: center;
        @include fonts($size: 26px, $weight: 900, $height: 1.61, $space: 1.56px);
        text-transform: uppercase;
        width: 100%;
        margin: 0 auto;

        @media screen and (min-width:768px) {
            width: 360px;
        }

        @media screen and (min-width:1200px) {
            @include fonts($size: 44px, $weight: 900, $height: 1.36, $space: 2.64px);
            width: 680px;
        }
    }

    &__btn {
        background-color: $accent-color;
        color: $main-background;
        text-align: center;
        font-size: 16px;
        font-weight: 700;
        line-height: 1.87;
        letter-spacing: 0.96px;
        @include fonts($size: 16px, $weight: 700, $height: 1.87, $space: 0.96px);
        margin-top: 30px;
        padding: 10px 32px;
        border: none;
        border-radius: 4px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    }
}