.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.20);
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    background-color: $main-background;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;

    &__title {
        color: $title-color;
        text-align: center;
        @include fonts($size: 20px, $weight: 700, $height: normal, $space: 0.6px);
        margin-bottom: 12px;
    }

    &__label {
        color: $additional-color;
        font-size: 12px;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.12px;
        @include fonts($size: 12px, $height: normal, $space: 0.12px);
    }

    &__input {
        width: 448px;
        height: 40px;
        border-radius: 4px;
        border: 1px solid rgba(33, 33, 33, 0.20);
        margin-top: 4px;
        margin-bottom: 10px;
        display: block;
        padding: 0 0 0 40px;
        @include transitioned($property: outline);
    }

    &__comentt {
        width: 448px;
        height: 120px;
        flex-shrink: 0;
        border-radius: 4px;
        border: 1px solid rgba(33, 33, 33, 0.20);
        color: rgba(117, 117, 117, 0.50);
        font-size: 12px;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.12px;
        resize: none;
        padding: 12px 16px;
        margin: 4px 0 25px 0;
        display: block;
        @include transitioned($property: outline);
    }

    &__comentt:hover,
    &__comentt:focus {
        border: transparent;
        outline: 1px solid $accent-color;
    }

    &__span {
        color: $additional-color;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.71;
        letter-spacing: 0.42px;
        margin-left: 8px;
        margin-right: 4px;
    }

    &__link {
        color: $accent-color;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.42px;
        @include fonts($height: 24px);
        text-decoration-line: underline;
    }

    &__check {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__checkbox {
        width: 16px;
        height: 15px;
    }

    &__btn {
        color: $main-background;
        text-align: center;
        @include fonts($size: 16px, $weight: 700, $height: 1.87, $space: 0.96px);
        border-radius: 4px;
        background: $accent-color;
        padding: 10px 52px;
        border: none;
        margin: 30px 124px 0px 124px;
        transition-property: border, box-shadow;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__btn:hover,
    &__btn:focus {
        border: none;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    }

    &__close {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 1px solid rgba(0, 0, 0, 0.10);
        @include flex($direction: row);
        position: absolute;
        top: 8px;
        left: 490px;
        background-color: transparent;
    }

    &__exit {
        width: 11px;
        height: 11px;
        fill: $logo-color;
        @include transitioned($property: fill)
    }

    &__icon {
        width: 18px;
        height: 18px;
        position: absolute;
        top: 11px;
        left: 10px;
        @include transitioned($property: fill)
    }

    &__box {
        position: relative;
    }

    &__close:focus,
    &__close:hover {
        border: transparent;

        .modal__exit {
            fill: $accent-color;
        }
    }

    &__input:hover,
    &__input:focus {
        border: transparent;
        outline: 1px solid $accent-color;
    }

    &__input:hover+&__icon,
    &__input:focus+&__icon {
        fill: $accent-color;
    }
}

.people {
    width: 14px;
    height: 14px;
    position: absolute;
    top: 12px;
    left: 11px;
}

.is__hidden {
    pointer-events: none;
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}