.port {
    outline: 1px $portfolio-header-line solid;
}

.asortie {
    padding: 60px 0;

    @media screen and (min-width:768px) {
        padding: 94px 0;
    }

    @media screen and (min-width:1200px) {
        padding: 94px 0;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;

        @media screen and (min-width:768px) {
            align-items: center;
            justify-content: center;
            margin-bottom: 30px;
        }

        @media screen and (min-width:1200px) {
            margin-bottom: 48px;
        }

        gap: 8px;
        margin-bottom: 40px;
    }

    &__all {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }

    &__pages {
        border: 1px solid #EEE;
        flex-basis: calc(100% / 1);

        @media screen and (min-width:768px) {
            flex-basis: calc((100% - 30px) / 2);
        }

        @media screen and (min-width:1200px) {
            flex-basis: calc((100% - 60px) / 3);
        }

        overflow: hidden;
        @include transitioned($property: box-shadow)
    }

    &__pages:hover {
        box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
    }

    &__pages:hover {
        .pages__label {
            opacity: 1;
            transform: translate(0, 0);
        }
    }

    &__btn {
        color: $title-color;
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.62;
        letter-spacing: 0.48px;
        @include fonts($size: 16px, $weight: 500, $height: 1.62, $space: 0.48px);
        border: $title-color;
        border-radius: 4px;
        padding: 6px 25px;
        @include transitioned($property: color box-shadow background-color);
    }

    &__btn:hover,
    &__btn:focus {
        background-color: $accent-color;
        color: $main-background;
        box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
    }
}

.pages {
    position: relative;
    overflow: hidden;

    &__name {
        color: $title-color;
        font-size: 18px;
        font-weight: 700;
        line-height: 2;
        letter-spacing: 1.08px;
    }

    &__text {
        color: $additional-color;
        @include fonts($size: 16px, $height: 1.87, $space: 0.48px);
        margin-top: 4px;
    }

    &__img {
        width: 100%;
    }

    &__label {
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(33, 150, 243, 0.90);
        width: 370px;
        height: 294px;
        color: $main-background ;
        opacity: 0;
        color: $main-background;
        font-size: 18px;
        font-weight: 400;
        line-height: 1.55;
        letter-spacing: 0.54px;
        @include fonts($size: 18px, $height: 1.55, $space: 0.54px);
        padding: 63px 24px;
        transform: translate(0, 100%);
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__discription {
        padding: 20px 24px 20px 24px;
    }
}