.wawd {
    padding: 94px 0;

    &__title {
        color: $title-color;
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.16;
        letter-spacing: 1.08px;
        @include fonts($size: 36px, $weight: 700, $height: 1.16, $space: 1.08px);
        margin-bottom: 50px;
    }

    &__list {
        display: flex;
        gap: 30px;
    }

    &__items {
        position: relative;
    }
}

.pos__text {
    color: $main-background;
    text-align: center;
    @include fonts($weight: 700, $height: 1.14);
    text-transform: uppercase;
}

.positioned {
    width: 370px;
    height: 70px;
    background: rgba(47, 48, 58, 0.80);
    position: absolute;
    @include flex;
    top: 224px;
}