.workers {
    padding: 94px 0;
    background-color: var(--team-background);

    &__select {
        box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.20);
        border-radius: 0px 0px 4px 4px;
    }

    &__img {
        width: 270px;
        height: 260px;
    }

    &__list {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }

    &__title {
        color: var(--title-color);
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.16;
        letter-spacing: 1.08px;
        margin-bottom: 58px;
    }

    &__name {
        color: var(--title-color);
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.18;
        letter-spacing: 0.48px;
    }

    &__text {
        color: var(--additional-color);
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.18;
        letter-spacing: 0.48px;
        margin-top: 10px;
        margin-bottom: 16px;
    }

    &__discription {
        padding-top: 30px;
        background-color: var(--main-background);
        border-radius: 0px 0px 4px 4px;
    }

    &__social {
        fill: var(--main-svg-fill);
        width: 20px;
        height: 20px;
        transition-property: fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.svg {
    background-color: var(--main-background);
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    padding-bottom: 30px;
}



.web__links {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition-property: background-color, border-radius;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.web__links:hover,
.web__links:focus {
    background-color: var(--accent-color);

    .workers__social {
        fill: var(--main-background);
    }
}