.workers {
    padding: 94px 0;
    background-color: $team-background;

    &__select {
        box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.20);
        border-radius: 0px 0px 4px 4px;
    }

    &__img {
        width: 270px;
        height: 260px;
    }

    &__list {
        @include flex($justify:space-between);
    }

    &__title {
        color: $title-color;
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.16;
        letter-spacing: 1.08px;
        @include fonts($size: 36px, $weight: 700, $height: 1.16, $space: 1.08px);
        margin-bottom: 58px;
    }

    &__name {
        color: $title-color;
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.18;
        letter-spacing: 0.48px;
        @include fonts($size: 16px, $weight: 500, $height: 1.18, $space: 0.48px);
    }

    &__text {
        color: $additional-color;
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.18;
        letter-spacing: 0.48px;
        @include fonts($size: 16px, $weight: 400, $height: 1.18, $space: 0.48px);
        margin-top: 10px;
        margin-bottom: 16px;
    }

    &__discription {
        padding-top: 30px;
        background-color: $main-background;
        border-radius: 0px 0px 4px 4px;
    }

    &__social {
        fill: $main-svg-fill;
        width: 20px;
        height: 20px;
        @include transitioned($property: fill);
    }
}

.svg {
    background-color: $main-background;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    padding-bottom: 30px;
}



.web__links {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    @include transitioned($property: background-color border-radius);
}

.web__links:hover,
.web__links:focus {
    background-color: $accent-color;

    .workers__social {
        fill: $main-background;
    }
}