:root {
    --logo-color: #000;
    --accent-color: #2196F3;
    --title-color: #212121;
    --additional-color: #757575;
    --main-background: #fff;
    --team-background: #F5F4FA;
    --footer-background: #2F303A;
    --footer-number: rgba(255, 255, 255, 0.60);
    --portfolio-header-line: #ECECEC;
    --main-svg-fill: #AFB1B8;
}