@mixin transitioned($property: color, $duration: 250ms,
    $t-function: cubic-bezier(0.4, 0, 0.2, 1)) {
    transition-property: $property;
    transition-duration: $duration;
    transition-timing-function: $t-function;
}

@mixin fonts($size: 14px, $weight: 400, $height: 1.71, $space: 0.42px) {
    font-size: $size;
    font-weight: $weight;
    line-height: $height ;
    letter-spacing: $space;
}

@mixin flex($direction:row, $justify:center,$align:center ) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}